body{
	font-family: roboto;
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.start{
	color: #4ade80;
	font-size: 2rem;
	margin: 2px;

}

.main-screen{
	display: flex;
	flex-direction: column;
}

.enter-btn{
	background-color: #4ade80;
	border: none;
	font-family: roboto;
	font-weight: bold;
	color: whitesmoke;
	font-size: 1.3rem;
	padding: 5px;
	border-radius: 3px;
	width: 150px;
	align-self: flex-end;
	box-shadow: 1px 1px 1px lightgray;
	transition-property: background-color,transform;
	transition-duration: 1s;
	transition-timing-function: ease-out;
	opacity: 0;
	text-align: center;
	text-decoration: none;


	animation-name: btn-anim;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-delay: 2s;
	animation-fill-mode: forwards;

}

.hi{
	opacity: 0;
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-delay: 0.69s;
	animation-fill-mode: forwards;
	
}

.welcome{
	z-index: 3;
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

.empty{
	width: 100%;
	height: 40px;
	z-index: 4;
}

.enter-btn:hover{
	transform: scale(102%);
	background-color: #f87171;
}

@keyframes anim1 {
	from{
		transform: translateY(120%);
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes btn-anim {
	from{
		opacity: 0;
		transform: translateY(-125%);
	}
	
	to{
		opacity: 1;
	}
	
}

@media (min-width:1200px) {
	.start{
		font-size:4rem;
	}
	.empty{
		height: 85px;
	}
	.enter-btn{
		font-size: 1.4rem;
		padding: 15px;
		width: 200px;
		
	}
}